.email-page {
  color: var(--text-color);
}

.email-input {
  background-color: var(--card-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.email-input::placeholder {
  color: var(--inputPlaceHolder);
}

.email-item {
  background-color: var(--card-bg);
  color: var(--text-color);
  border-color: var(--border-color);
}
