/* ===============================
   STATUS MODAL
================================== */
.small-status-modal {
  width: 200px !important;
  margin: auto;
  border-radius: 8px;
  background-color: var(--card-bg);
  color: var(--text-color);
  font-size: 0.9rem;
  border: 1px solid var(--border-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 3s ease-in-out forwards;
  pointer-events: none;
  z-index: 2000;
}

.fade-in-out {
  pointer-events: auto;
}

/* Animation */
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  10% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}
